.green-dark{
  background-color: #00afaa;
}
.text-green{
  color:#00afaa;
}
.btn-green{
  background-color: #00afaa;
}
a:hover{
  color:#48dad0;
}
.btn-green:hover, .nav-link:hover{
  background-color: #48dad0;
  color:white;
}