.green-dark{
  background-color: #00afaa;
}
.text-green{
  color:#00afaa;
}
.btn-green{
  background-color: #00afaa;
}
a:hover{
  color:#48dad0;
}
.btn-green:hover, .nav-link:hover{
  background-color: #48dad0;
  color:white;
}

.mapStyle {
  height: 80vh;
}

@media only screen and (max-width: 992px) {
  .me-order-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .mart-3 {
    margin-top: 1rem !important;
  }
}