/* Estilos profile*/
.green-dark{
  background-color: #00afaa;
}
.text-green{
  color:#00afaa;
}
.btn-green{
  background-color: #00afaa;
}
a:hover{
  color:#48dad0;
}
.btn-green:hover, .nav-link:hover{
  background-color: #48dad0;
  color:white;
}

.img-container {
  background-image: url('../assets/images/pexels-photo2.jpeg');
  background-position: center center;
  background-size:cover;
  width: 100%;
}
.hcolor-img{
  height: auto;
}
.photo-colour{
  background: rgb(123, 238, 228);
  padding: 0.6em;
  height: 100px;
}
.titles{
  display: inline-block;
  list-style: none;
}
/* vista Desktop*/
@media only screen and (min-width: 992px) {
  .hcolor-img{
    height: 91vh;
  }
  .photo-colour{
    height: 250px;
  }
}