/* Estilos profile*/
.green-dark{
  background-color: #00afaa;
}
.btn-green{
  background-color: #00afaa;
  color:white;
}
.btn-green:hover{
  background-color: #48dad0;
  color:white;
}
.img-container {
  background-image: url('../assets/images/peru.jpg');
  background-position: center center;
  width: 100%;
}
.hcolor-img{
  height: auto;
  color: rgb(248, 244, 244);
}
.photo-colour{
  background: rgb(123, 238, 228);
  padding: 0.6em;
  height: 100px;

}
.titles{
  display: inline-block;
  list-style: none;
}
/* vista Desktop*/
@media only screen and (min-width: 992px) {
  .hcolor-img{
    height: 91vh;
  }
  .photo-colour{
    background: rgb(123, 238, 228);
    padding: 0.6em;
    height: 250px;
  }
}